if _path == "/index.html"
.header-cover
    .container
        h2.cover-title.text-center.white-text Smart Business Marketing
        p.cover-sub-text.text-center.white-text We enhance the online credibility of your business
        p.arrw-down
            a#trendssBtn.trendsbtn(href='#') 
                i.fa.fa-arrow-down(aria-hidden='true')